<div class="subview-add">
    <h4>Add new word</h4>

    <form class="form-horizontal" role="form">
        <div class="row form-group">
            <div class="col-xs-4">
                <input type="text" ng-model="ctrl.word.word" class="form-control" id="create-word" name="word" placeholder="Word">
            </div>
            <div class="col-xs-4">
                <input type="text" ng-model="ctrl.word.translation" class="form-control" id="create-translation" name="translation" placeholder="Translation">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" ng-click="ctrl.addWord(ctrl.word)">Add Word</button>
            </div>
        </div>
    </form>

</div>
