.alert-danger {
    background: #ffecec;
    border: 1px solid #ffa8a8;
}

.alert-success {
    background: #edf8da;
    border: 1px solid #c2d799;
    color: #5d9400;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
