// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;

$btnFacebookBackground:             #133783;
$btnFacebookBackgroundHighlight:    #43609C;
$btnTwitterBackground:              #2daddc;
$btnTwitterBackgroundHighlight:     #0271bf;
$btnGooglePlusBackground:           #dd4b39;
$btnGooglePlusBackgroundHighlight:  #c53727;
$btnGithubBackground:               #fafafa;
$btnGithubBackgroundHighlight:      #ccc;

// Social buttons
// --------------------------------------------------

.btn-facebook {
    @include button-variant($btnText, $btnFacebookBackgroundHighlight, $btnFacebookBackgroundHighlight);
}
.btn-twitter {
    @include button-variant($btnText, $btnTwitterBackground, $btnTwitterBackgroundHighlight);
}
.btn-google-plus {
    @include button-variant($btnText, $btnGooglePlusBackground, $btnGooglePlusBackgroundHighlight);
}
.btn-github {
    @include button-variant($btnTextAlt, $btnGithubBackground, $btnGithubBackgroundHighlight);
}

// Normal buttons
// --------------------------------------------------

.btn {
    border: 0;
    padding: 5px 15px;
    font-size: 16px;
    line-height: 1.42857;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

.btn:hover, .btn:focus {
    color: inherit;
    text-decoration: inherit;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-word-edit {
    padding: 3px 10px;
    font-size: 13px;
}

.signup-btn {
    padding: 14px 18px;
    font-size: 18px;
    background-color: #2aca76;
}

.signup-btn:hover {
    background-color: #38d683;
}
