.page-header {
    padding-bottom: 9px;
    margin: 10px 0 20px;
    overflow: auto;
    border-bottom: 1px solid #eeeeee;

    h1 {
        margin: 0px !important;
    }

    button {
        border-radius: 0px;
        float: right;
    }
}
