<div class="subview-list">
    <h4>Your words</h4>

    <input type="text" class="form-control search" ng-model="ctrl.searchQuery" placeholder="Search">

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Word</th>
                    <th>Translation</th>
                    <th>Strength</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="ctrl.words.length" ng-repeat="word in ctrl.words | filter: ctrl.searchQuery track by word._id">
                    <td ng-bind="word.word"></td>
                    <td ng-bind="word.translation"></td>
                    <td><span lm-stars="{{::word.strength}}"></span></td>
                    <td>
                        <a class="btn btn-default btn-xs" ui-sref="words.edit({id: word._id})"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                        <a class="btn btn-default btn-xs" ng-click="ctrl.removeWord(word)"><i class="glyphicon glyphicon-remove"></i> Delete</a>
                    </td>
                </tr>
                <tr ng-if="!ctrl.words.length"><td colspan="4">No words to display</td></tr>
            </tbody>
        </table>
    </div>
</div>
