.navbar-home {
    border-bottom: 0px;
    @include gradient-horizontal(#00c6ff, #0072ff, 10%, 90%);

    .navbar-brand {
        color: white;

        &:hover {
            color: white;
        }
    }

    .navbar-nav {
        li {
            a {
                color: white;
            }

            &.logout {
                background-color: #2aca76;
            }
        }
    }

    .navbar-text {
        color: white;
    }
}

.layout-home {
    .hero-unit {
        position: relative;
        padding: 40px 15px 40px;
        color: #F5F5F5;
        text-align: center;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        border-bottom: none;
        margin-top: -20px;
        @include gradient-horizontal(#00c6ff, #0072ff, 10%, 90%);

        h1 {
            font-size: 60px;
            line-height: 1;
            letter-spacing: -1px;
        }
    }

    .features {
        .feature {
            @media (max-width: $screen-sm-max) {
                margin-bottom: 40px;
            }

            @media (min-width: $screen-md-min) {
                margin-left: 30px;
            }

            .description {
                color: #303030;
                font-size: 18px;
                margin-top: 15px;
                display: block;
            }
        }

        .arrow {
            margin-top: 70px;
        }
    }

    .bottom {
        padding-top: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
